<header class="header">
    <div class="header__inner">
        <!-- Logo -->
        <a href="/" class="logo">
            <img src="img/logo.png" alt="Kino">
        </a>

        <!-- Desktop navigation -->
        <nav class="nav_desktop">
            <ul class="nav__list">

                <li><a href="#" class="nav__link">Evenemang</a></li>
                <li class="nav__item"><a href="/movies.html" class="nav__link">Filmer</a></li>

                <button class="nav__link"> Mer ▾</button>

                <ul class="dropdown">
                    <li><a href="#">Om biografen</a></li>
                    <li><a href="#">Erbjudanden</a></li>
                    <li><a href="#">Kontakt & oss</a></li>
                    <li><a href="#">Mat & Dryck</a></li>
                    <li><a href="#">Presentkort</a></li>
                </ul>
                </li>
            </ul>
        </nav>

        
        <div class="header__actions">
            <a href="#" class="login">Logga in</a>
            <button class="lang">Svenska ▾</button>
        </div>
    </div>

   <nav class="mobile-nav">
  <button class="mobile-nav__item">⭐<span></span></button>
  <button class="mobile-nav__item">🎬<span></span></button>
  <button class="mobile-nav__item">📰<span></span></button>
  <nav class="mobile-nav__item">
  <div class="menu-icon" id="menuToggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-menu">
    <li><a href="#">Om Biografen</a></li>
    <li><a href="#">Erbjudanden</a></li>
    <li><a href="#">Kontakta oss</a></li>
    <li><a href="#">Mat & Dryck</a></li>
    <li><a href="#">Presentkort</a></li>
    <li><a href="#">Logga in</a></li>
    <li><a href="#">Plats</a></li>
  </ul>
</nav>
</nav> 

    
</header>