<header class="header">
    <div class="header_inner">

        <a href="/" class="logo">
            <img src="img/logo.png" alt="Kino">
        </a>

        <nav class="nav_desktop">
            <ul class="nav_list">
                <li><a href="#" class="nav_link">Evenemang</a></li>
                <li class="nav_item"><a href="/movies.html" class="nav_link">Filmer</a></li>
                <li class="nav_item">
                    <a href="#" class="nav_link">Mer ▾</a>
                    <ul class="dropdown">
                        <li><a href="#">Om biografen</a></li>
                        <li><a href="#">Erbjudanden</a></li>
                        <li><a href="#">Kontakt & oss</a></li>
                        <li><a href="#">Mat & Dryck</a></li>
                        <li><a href="#">Presentkort</a></li>
                    </ul>
                </li>
            </ul>
        </nav>


        <div class="header_actions">
            <a href="#" class="login">Logga in</a>
            <button class="lang">Umeå ▾</button>
        </div>
    </div>

    <nav class="mobile-nav">
        <button class="mobile-nav_item">⭐<span></span></button>
        <button class="mobile-nav_item">🎬<span></span></button>
        <button class="mobile-nav_item">📰<span></span></button>
        <nav class="mobile-nav_item">
            <div class="menu-icon" id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav-menu">
                <li class="nav-menu-top">
                    <a href="#">Mer alternativ</a>
                </li>
                <li><a href="#">Om Biografen</a></li>
                <li><a href="#">Erbjudanden</a></li>
                <li><a href="#">Kontakta oss</a></li>
                <li><a href="#">Mat & Dryck</a></li>
                <li><a href="#">Presentkort</a></li>
                <li><a href="#">Logga in</a></li>
                <li><a href="#">Plats</a></li>
            </ul>
        </nav>
    </nav>


</header>