@use './mixins_variables.scss' as *;

.header_inner {
  display: none;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: $card-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding-bottom: 3rem;
}

.mobile-nav_item {
  background: none;
  border: none;
  color: #fff;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.menu-icon {
  display: block;
  cursor: pointer;
  background-color: $card-color;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: $secondary-text-color;
  transition: 0.4s;
  border-radius: 5px;
}

.menu-icon:hover span {
  background-color: $primary-text-color;
}


.menu-icon.active span {
  background-color: $primary-text-color;
}


.nav-menu {
  display: none;
  position: fixed;
  bottom: 85px;
  left: 0;
  right: 0;
  background: $background-color;
  z-index: 1100;
  overflow-y: auto;

  .nav-menu-top {
    font-weight: bold;
position: relative;
    justify-content: center;

  }

  .nav-menu-top::before {
    content: '<';
    font-size: 14px;
    position: absolute;
    left: 0.1rem;
    color: $primary-text-color;
    margin-left: 0.5rem;

  }

  .nav-menu-top a {
    flex-grow: 1;
    text-align: center;
}

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
  }

  li a {
    text-decoration: none;
    color: $primary-text-color;
    font-family: $font-subheader;
    font-size: 14px;
    flex-grow: 1;
    text-align: left;
  }

  li::after {
    content: '>';
    font-size: 14px;
    color: $primary-text-color;
    margin-left: 0.5rem;
  }

  .nav-menu-top::after {
    content: none;
  }
}

.nav-menu li:nth-child(7) {
  margin-top: 2rem;
}


.nav-menu li:nth-child(2) {
  margin-top: 14rem;
}

.nav-menu.active {
  display: block;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .nav-menu {
    display: none !important;
  }

  .header {
    width: 100%;
    background: $background-color;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo img {
      height: 50px;
    }

    .nav_desktop {
      display: flex;
      align-items: center;

      .nav_list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 2rem;

        .nav_link {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          cursor: pointer;
          padding: 0;
          border: none;
          background: none;
        }

        .dropdown {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: $background-color;
          list-style: none;
          padding: 0.5rem 0;
          margin: 0;
          min-width: 200px;
          border-radius: 4px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

          li {
            padding: 0.5rem 1rem;

            a {
              color: #fff;
              text-decoration: none;

              &:hover {
                background: rgba(255, 255, 255, 0.1);
              }
            }
          }
        }

        .nav_item.active .dropdown {
          display: block;
        }
      }
    }

    .header_actions {
      display: flex;
      align-items: center;
      gap: 1rem;

      .login {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
      }

      .lang {
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}